.grid-container {
    .grid-x {
        margin-bottom: 1px;
        color: $taubman-teal;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-left-width: .313rem;
        border-left-style: solid;
        .playfair {
            font-family: 'Playfair Display';
            font-weight: 900;
            margin-bottom: -.75rem;
        }
        div {
            @include baseline(18px);
            margin: 0;
            font-weight: 300;
        }
        &.blue {
            background-color: $michigan-blue;
            border-left-color: darken($michigan-blue, 10%);
        }
        &.yellow {
            background-color: $michigan-maize;

            border-left-color: darken($michigan-maize, 10%);
        }
        &.light-blue {
            background-color: $arboretum-blue;
            border-left-color: darken($arboretum-blue, 10%);
        }
        &.red {
            background-color: $tappan-red;
            border-left-color: darken($tappan-red, 10%);
        }
        &.orange {
            background-color: $ross-orange;
            border-left-color: darken($ross-orange, 10%);
        }
        &.teal {
            background-color: $taubman-teal;
            border-left-color: darken($taubman-teal, 10%);
        }
        &.green {
            background-color: $wave-field-green;
            border-left-color: darken($wave-field-green, 10%);
        }
        &.purple {
            background-color: $a2-amethyst;
            border-left-color: darken($a2-amethyst, 10%);
        }
    }
}