.above {
    @extend .grid-container,
    .fluid;
    .all {
        margin-bottom: 1px;
        color: $taubman-teal;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $michigan-blue;
        background-position: center;
        border-left-width: .313rem;
        border-left-style: solid;
        border-left-color: darken($michigan-blue, 10%);
        @extend .grid-x,
        .grid-margin-x,
        .align-middle,
        .align-center;
        .always {
            @extend .small-12,
            .large-6,
            .cell,
            .shrink;
            .be {
                @extend h1;
                font-weight: 900;
                margin-bottom: -.75rem;
            }
            .kind {
                @include baseline(18px);
                margin: 0;
                font-weight: 300;
            }
        }
    }
}